@model CUser
@{
    ViewData["Title"] = "Index";
}


<style>
    ul, #myUL {
        list-style-type: none;
    }

    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        @*width: 300px;*@
        border: 1px solid #ccc5c5;
    }

    #myUL {
        width: 300px;
        max-width: 100%;
        height: 200px;
        overflow: scroll;
    }

    .list-header {
        background: #f1f1f1;
        border: 1px solid #ccc;
        font-weight: bold;
        color: #333;
    }

    .list {
        height: 295px !important;
    }
</style>
<div class="fixed-container">
    <div class="row cont-pad-top1">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center list-header">
                    <label for="DocumentList">Document List</label>
                </div>
                <select id="lbCountry" onclick="bindDocumentDetails();" name="sometext" multiple="multiple" class="form-control list">
                </select>
            </div>
        </div>
        <div class="col-md-4 col-sm-7 col-xs-12">
            <form asp-action="Index" autocomplete="on">
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label asp-for="ID"></label>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input id="id" asp-for="ID" class="form-control" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label asp-for="CONCODE"></label>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input id="Code" asp-for="CONCODE" class="form-control" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label asp-for="DESCRIPTION"></label>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input id="Description" type="text" asp-for="DESCRIPTION" class="form-control" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label asp-for="NDESCRIPTION"></label>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input id="DescriptionN" type="text" asp-for="NDESCRIPTION" class="form-control" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12 block text-right">
                        <input id="btnNew" type="submit" value="New" onclick="btnNew_Click();" class="btn btn-primary" />
                        <button id="btnEdit" type="button" class="btn btn-info" onclick="btnEdit_Click();">Edit</button>
                        @*<input id="btnEdit" type="submit" value="Edit" onclick="btnEdit_Click();" class="btn btn-info" />*@
                        <input id="btnSave" type="submit" value="Save" class="btn btn-success" />
                        <button id="btnCancel" type="button" class="btn btn-danger" onclick="btnCancel_Click();">Cancel</button>
                        @*<input id="btnCancel" type="submit" value="Cancel" onclick="btnCancel_Click();" class="btn btn-danger" />*@

                    </div>
                </div>
                <b>@ViewData["Message"]</b>
            </form>
        </div>

        <div class="col-sm-12 col-xs-12 col-md-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="important"><b>Note :</b> Code and Document Type must be unique. </span>
                </div>
            </div>
        </div>
    </div>
</div>


















@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
@*<script src="~/Scripts/jquery-1.9.1.js"></script>*@
<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        alert('sd');
        debugger;
        //loadListBox();
        bindDocumentList();
        document.getElementById('btnEdit').disabled = true;
        document.getElementById('btnSave').disabled = true;
        $("#btnEdit").prop('disabled', false);
        document.getElementById('lbCountry').value = "";
    });
    function loadListBox() {
        //alert('asd');
        //var URL = 'https://localhost:44323/JvAjax/List1';
        $.ajax({
            type: "GET",
            url: "@Url.Action("List")",
            contentType: "application/json; chareset=utf-8",
            dataType: "json",
            success: function (data) {
                alert('test');
                if (data.total_records > 0) {
                    var obj = data.data;
                    if (obj == "") {
                        alert('No Country List to load');
                        return;
                    }
                    var ddlCon = $("[id*=lbCountry]");
                    ddlCon.empty();

                    $.each(obj, function (i, item) {
                        alert(item.ID);
                        var OptionValue = item.ID;
                        var OptionText = item.DESCRIPTION;
                        ddlCon.append($("<option></option>").val(OptionValue).html(OptionText));
                    });

                }
                else {
                    alert('No Document to Load !');
                }
            },
            error: function (response) {
                alert(response.error);
            }
        })
    }

    function bindDocumentList() {
        debugger;
        $.getJSON('@Url.Action("List1")', function (items) {
            debugger;
            //alert(items.id);
                var listCountry = "";
                for (var i = 0; i < items.length; i++) {
                    listCountry += "<option value='" + items[i].id + "'>" + items[i].description + "</option>";
                }
                $("#lbCountry").html(listCountry);
                //$("#lbCountry").val($("#lbCountry option:first").val()).change();
            })
        }
</script>


<script>

    function btnNew_Click() {
        //alert('1');
        //document.getElementById('id').disabled = false;
        document.getElementById('Code').disabled = false;
        document.getElementById('Description').disabled = false;
        document.getElementById('DescriptionN').disabled = false;
        document.getElementById('btnEdit').disabled = false;
        document.getElementById('btnSave').disabled = false;
        document.getElementById('btnNew').disabled = true;
        document.getElementById('btnEdit').disabled = true;
    }
    function btnCancel_Click() {
        document.getElementById('Code').disabled = true;
        document.getElementById('Description').disabled = true;
        document.getElementById('DescriptionN').disabled = true;
        document.getElementById('btnEdit').disabled = false;
        document.getElementById('btnSave').disabled = true;
        document.getElementById('btnNew').disabled = false;
        document.getElementById('btnCancel').disabled = false;
        clearTextBox();
    }

    function clearTextBox() {
        document.getElementById('Code').value = "";
        document.getElementById('Description').value = "";
        document.getElementById('DescriptionN').value = "";
        document.getElementById('lbCountry').value = "";

    }
    function btnEdit_Click() {
        debugger;
        var lbDoc = document.getElementById('lbCountry').value;
        if (lbDoc == "") {
            alert('Please Select Document form the list');
        }
        else {

        }
    }
</script>

<script type="text/javascript">
    function bindDocumentDetails() {
        debugger;        
        $.ajax({
            url: '@Url.Action("Details", "JvAjax")',
            type:"GET",
                data: { SelectedItems: $(this).val() },
                traditional: true,
                success: function (details) {
                    $("#id").val(details.ID);
                    $("#Code").val(details.CONCODE);
                    $("#Description").val(details.DESCRIPTION);
                    $("#DescriptionN").val(details.NDESCRIPTION);


                    $("#btnCancel").prop('disabled', false);
                    $("#btnEdit").prop('disabled', false);
                    $("#btnNew").prop('disabled', true);
                }
            });
    }

</script>
@*<script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $("#lbCountry").click(function () {
                //$("#btnAdd").prop('disabled', true);
                $.getJSON('@Url.Action("Details", "JvAjax")', { SelectedItems: $(this).val() }, function (details) {
                    $("#id").val(details.ID);
                    $("#Code").val(details.CONCODE);
                    $("#Description").val(details.DESCRIPTION);
                    $("#DescriptionN").val(details.NDESCRIPTION);
                    //$("#btnCancel").prop('disabled', false);
                    //$("#btnUpdate").prop('disabled', false);
                    //$("#btnDelete").prop('disabled', false);
                })
            })
    </script>*@








